@model WS.Models.Pesquisa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pesquisa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pergunta1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pergunta1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pergunta2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pergunta2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pergunta3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pergunta3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resultado)
        </dt>
        <dd class = "col-sm-10">
            @Model.Resultado.ToString("F") <label>%</label>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
